<!DOCTYPE html>
<html ng-app="quickie">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/MainCtrl.js"></script>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>

<body ng-controller="MainCtrl as main">
  <div class="container-fluid">
    <div class="col-md-4" ng-show="main.sidebarToggle" id="sidebar">
      <div class="row">
        <h3>Gender</h3>
        <div class="row">
          <button class="btn btn-success" ng-click="main.toggleSidebar()" ng-model="gender" ng-value="male">Male</button>
        </div>
        <div class="row">
          <button class="btn btn-success" ng-click="main.toggleSidebar()" ng-model="gender" ng-value="female">Female</button>
        </div>
      </div>
      <div class="row">
        <h3>Orientation</h3>
        <div class="row">
          <button class="btn btn-success" ng-click="main.toggleSidebar()" ng-model="orientation" ng-value="straight">Straight</button>
        </div>
        <div class="row">
          <button class="btn btn-success" ng-click="main.toggleSidebar()" ng-model="orientation" ng-value="gay">Gay</button>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-warning" ng-click="main.updateUserSettings(gender, orientation)">Save Settings</button>
      </div>
    </div>

    <div class="col-md-4" ng-hide="main.sidebarToggle">
    </div>

    <div class="col-md-4" id="main-content">
      <div class="row text-center">
        <img src="img/logo.png" id="central-item">
      </div>
      <div class="row text-center">
        <button class="btn btn-default" id="central-item" ng-click="">Have a quickie!</button>
      </div>
      <div class="row text-center">
        <button class="btn btn-link" ng-click="main.toggleSidebar()">Edit Settings</button>
      </div>
    </div>
  </div>
</body>

</html>
